<h1 id="title">{{fa-icon "terminal"}} sideload.it</h1>
<hr/>
<nav>
	{{#link-to "index"}}Home{{/link-to}}
	{{#link-to "apps"}}Apps{{/link-to}}	({{#link-to "apps.submit"}}~submit{{/link-to}}{{#if session.currentUser.level}} {{#link-to "apps.new"}}+new{{/link-to}}{{/if}})
	{{#if session.isAuthenticated}}
		<span> | Hi {{#link-to "user" session.currentUser}} {{session.currentUser.displayName}}{{/link-to}}!
			<button {{action "signOut"}}>{{fa-icon "sign-out"}} Sign out</button>
		</span>
	{{else}}
		<span> | Sign in with
			<button {{action "signIn" "github"}}>{{fa-icon "github-square"}} github</button>
			<button {{action "signIn" "twitter"}}>{{fa-icon "twitter-square"}} twitter</button>
		</span>
	{{/if}}

</nav>
<hr/>

{{outlet}}
